---
Checks: '
        concurrency-*,
        cppcoreguidelines-*,
        -cppcoreguidelines-init-variables,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        google-*,
        -google-explicit-constructor,
        -google-build-explicit-make-pair,
        misc-*,
        -misc-no-recursion,
        modernize-*,
        -modernize-use-trailing-return-type,
        performance-*,
        readability-*,
        -readability-named-parameter,
        portability-*,
        bugprone-*,
        '

CheckOptions:
  - key:   modernize-loop-convert.NamingStyle
    value: lower_case
  - key:   readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.GlobalVariablePrefix
    value: 'g_'
  - key:   readability-identifier-naming.ClassCase
    value: lower_case
  - key:   readability-identifier-naming.ClassMethodCase
    value: lower_case
  - key:   readability-identifier-naming.MemberCase
    value: lower_case
  - key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key:   cppcoreguidelines-macro-usage.CheckCapsOnly
    value: true

HeaderFilterRegex: '.*'
WarningsAsErrors: true
...

# vim:set ft=yaml:
